.main
{
  background-image: url(backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100%;*/
  text-align: center;
  border-width: 3px;
}
.col
{
  margin-top: 195px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 2em;
  font-family: courier;
}
strong,em
{
  color: rgba(128,70,21,0.8);
}
<strong
{
  text-transform: uppercase;
}
.btn
{
  border-radius: 200px;
  padding: 1rem 2rem;
}
form
{
  text-align: center;
}
.btn:hover
{
  background-color: rgb(28,5,58);
  border-width: 2px;
  cursor: pointer;
}
